
.header {
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: large;
  }
  
.topnav {
    overflow: hidden;
    background-color: white;
  }
  
.topnav a {
    float: right;
    display: block;
    color: #0096fa;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }

.page-container {
    width: 1024px; margin: 0 auto; padding: 0;
}

.container {
    display: flex;
    background-color: #f1f1f1; 
    width: 500px;
    margin-left: 40px; 
    text-align: center; 
    line-height: 75px;
}

.item {
    flex: 1;
    align-self: flex-start;
    padding: 1em;
    margin: .6em;
    background-color: white;
}
    

h1 {
    margin-left: 1.2em;
}


img {
    width: 100%; height: auto;
}

.columns {
    display: flex;
}

.columns < section {
    padding: .5em;
    width: 50%;
}